.page {
  font-family: var(--font-primary);
  font-weight: normal;
}

/* @media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
} */


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  
  
}

/* @media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
} */

/* body {
  overflow: scroll;
} */


.pageContainer {
  padding-top: 200px;
  max-width: 1680px;
  margin: auto;
}

.vv {
  margin: auto;
  width: 96%;
  padding: 0 20px;
  transition: transform 0.1s ease; /* Animation fluide */
  transform-origin: center;
}

.dot {
  position: absolute;
  font-size: 20px;
  font-family: var(--font-primary);
  color: #000000; /* Couleur du chiffre */
  pointer-events: none;
  user-select: none;
  opacity: 0.3;
  transition: opacity 1s ease, transform 1s ease;
}

.hidden {
  opacity: 0;
}

.bigTitle {
  width: 100vw;
  margin: auto;
  padding: 80px;
  font-size: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  margin: auto;
  height: fit-content;
  max-width: 100vw;
  position: fixed;
}

.datas {
  width: 100%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.oneData {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.oneData p {
  width: 100%;
  max-width: 25%;
}

.selfRight p{
  text-align: end;
}


.splineContainer {
  position: relative;
  cursor: pointer; /* Définir un pointeur par défaut */
}

.viewer {
  clip-path: polygon(100% 0, 100% 90%, 81% 90%, 81% 100%, 0 100%, 0 0);
}

.collabCTA {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 26px;
}

.selfRight {
  align-items: end;
}



.floatingButton {
  position: absolute;
  font-family: var(--font-primary);
  color: rgb(77, 77, 77);
  font-size: 12px;
  text-shadow: 2px 2px 20px #FFFFFF;
  pointer-events: none; /* Éviter que le bouton bloque la souris */
  opacity: 1; /* Caché par défaut */
  transition: opacity 0.7s ease;
  z-index: 1000;
}


#text {
  font-size: 200px;
}

.visitedPercent {
  min-width: 40px;
  height: fit-content;
}



.draggableContainer {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  margin-bottom: 80px;
}

.box {
  position: absolute; /* Important pour Draggable */
  cursor: grab;
}


.box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.box:active {
  cursor: grabbing;
}



.speaker {
  display: flex;
  flex-direction: columns;
  align-items: center;
  height: fit-content;
  width: 32px;
  position: relative;
  z-index: 100;
}

.soundBox {
  height :24px;
  width: 2px;
  background-color: rgb(77, 77, 77);
  transition: height 1s ease-in-out; /* Transition fluide pour les hauteurs */

}

#soundBox1 {
  height: 8px;
}
#soundBox2 {
  height: 8px;
    margin-right: 2px
}
#soundBox3 {
  height: 8px;
}
#soundBox4 {
  height: 10px;
}
#soundBox5 {
  height: 12px;
}
#soundBox6 {
  height: 14px;
}
#soundBox7 {
  height: 18px;
}
#soundBox8 {
  height: 20px;
}










.fImg {
}

.wrapper404 h1 {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 32vw;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-top: 0.3%;
  position: absolute;
  top: 25%
}

.container {
  position: relative;
  width: 100%;
  height: 600vh; /* ou plus pour créer un effet de défilement vertical */
}


.wrapper404 {
  position: absolute;
  top: 0;
  width: 870vw; /* Cela crée une largeur très large pour faire défiler horizontalement */
  height: 50vh;
  will-change: transform;
}

.card {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
}

#card1 {
  top: 35%;
  left: 22%;
}

#card1 img {
  width: 160px;
}

#card2 {
  top: 120%;
  left: 26%;

}
#card2 img {
  width: 200px;
}

#card3 {
  top: 35%;
  left: 40%;
  z-index: -99;
}

#card4 {
  top: 20%;
  left: 54%;
}

#card5 {
  top: 80%;
  left: 69%;
}

#card6 {
  top: 140%;
  left: 80%;
}

#card7 {
  top: 35%;
  left: 86%;
  z-index: -99;
}


@media (max-width: 900px) {
  .wrapper404 {
    padding-top: 20em;
  }
}


.sectionNb {
  font-family: "Explora", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}