.page {
  font-family: var(--font-primary);
  font-weight: normal;
}




/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  
  
}

.pageContainer {
  padding-top: 200px;
  max-width: 1680px;
  margin: auto;
}

.vv {
  margin: auto;
  width: 96%;
  padding: 0 20px;
  transition: transform 0.1s ease; /* Animation fluide */
  transform-origin: center;
  z-index: 999;
  opacity: 0; /* Commence invisible */
  animation: fadeIn 7s ease forwards; /* Animation d'apparition */
  filter: drop-shadow(0px 0px 24px #ffffff);
  min-width: 400px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dot {
  position: absolute;
  font-size: 20px;
  font-family: var(--font-primary);
  color: #000000; /* Couleur du chiffre */
  pointer-events: none;
  user-select: none;
  opacity: 0.1;
  transition: opacity 3s ease, transform 3s ease;
}

.hidden {
  opacity: 0;
}

.bigTitle {
  width: 100vw;
  margin: auto;
  padding: 80px;
  font-size: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  margin: auto;
  height: fit-content;
  max-width: 100vw;
  position: fixed;
  z-index: 999;
  mask: linear-gradient(black, black, transparent);
  backdrop-filter: blur(3px);
}

.datas {
  width: 100%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.oneData {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.oneData p {
  width: 100%;
  max-width: 25%;
}

.selfRight p{
  text-align: end;
}


.splineContainer {
  position: relative;
  cursor: pointer; /* Définir un pointeur par défaut */
}

.viewer {
  clip-path: polygon(100% 0, 100% 90%, 81% 90%, 81% 100%, 0 100%, 0 0);
}

.collabCTA {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 26px;
}

@media (max-width: 900px) {
  .collabCTA {
    font-size: 10px;    
  }

  .splineContainer {
    height: 520px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .footerLeft {
    align-items: center;
    margin: auto;
  }

  .footerRight {
    align-items: center;
    margin: auto;
    max-width: fit-content;
    text-align: center;
  }

  .footerRightContainer {
    align-items: center;

  }
  
  .footerP{
    margin: auto;  
  }
  
  .footerMiddle {
    margin: auto;
  }

  .viewer {
    clip-path: polygon(100% 0, 100% 80%, 8% 80%, 8% 100%, 0 100%, 0 0);
  }

  .datas {
    padding: 40px;
  }

  .vv {
    min-width: 300px;
    width: 80%;
  }

  .oneData p {
    width: 100%;
    max-width: 75%;
  }
}

.selfRight {
  align-items: end;
}



.floatingButton {
  position: absolute;
  font-family: var(--font-primary);
  color: rgb(77, 77, 77);
  font-size: 12px;
  text-shadow: 2px 2px 20px #FFFFFF;
  pointer-events: none; /* Éviter que le bouton bloque la souris */
  opacity: 1; /* Caché par défaut */
  transition: opacity 0.7s ease;
  z-index: 1000;
}


#text {
  font-size: 200px;
}

.visitedPercent {
  min-width: 40px;
  height: fit-content;
}



.draggableContainer {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  margin-bottom: 80px;
}

.box {
  position: absolute; /* Important pour Draggable */
  /* top: 50%;
  left: 50%; */
  /* cursor: grab; */
}


.box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.box {
  cursor: url("/img/readyToGrab.png"), auto;
}
.box:active {
  cursor: url("/img/grabbing.png"), auto;
}




.speaker {
  display: flex;
  flex-direction: columns;
  align-items: center;
  height: fit-content;
  width: 32px;
  position: relative;
  z-index: 100;
}

.soundBox {
  height :24px;
  width: 2px;
  background-color: rgb(77, 77, 77);
  transition: height 1s ease-in-out; /* Transition fluide pour les hauteurs */
  z-index: 999;
}

#soundBox1 {
  height: 8px;
}
#soundBox2 {
  height: 8px;
    margin-right: 2px
}
#soundBox3 {
  height: 8px;
}
#soundBox4 {
  height: 10px;
}
#soundBox5 {
  height: 12px;
}
#soundBox6 {
  height: 14px;
}
#soundBox7 {
  height: 18px;
}
#soundBox8 {
  height: 20px;
}










.fImg {
}

.wrapper404 h1 {
  font-family: "Explora", serif;
  width: 100%;
  font-size: 40vw;
  font-weight: 400;
  text-align: center;
  margin: 0;
  position: absolute;
}

.container {
  position: relative;
  width: 100%;
  height: 600vh; /* ou plus pour créer un effet de défilement vertical */
}


.wrapper404 {
  position: absolute;
  top: 0;
  width: 870vw; /* Cela crée une largeur très large pour faire défiler horizontalement */
  height: 50vh;
  will-change: transform;
}

.card {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
}

#card1 {
  top: 35%;
  left: 22%;
}

#card1 img {
  width: 160px;
}

#card2 {
  top: 120%;
  left: 26%;

}
#card2 img {
  width: 200px;
}

#card3 {
  top: 35%;
  left: 40%;
  z-index: -99;
}

#card4 {
  top: 20%;
  left: 54%;
}

#card5 {
  top: 80%;
  left: 69%;
}

#card6 {
  top: 140%;
  left: 80%;
}

#card7 {
  top: 35%;
  left: 86%;
  z-index: -99;
}


@media (max-width: 900px) {
  .wrapper404 {
    padding-top: 20em;
  }
}


.sectionNb {
  font-family: "Explora", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.explora {
  font-family: "Explora", serif;
}















/******   FOOTER   ********************************************/




.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 14px;
  width: 100%; /* Change 100vw en 100% */
  padding: 40px 80px;
  box-sizing: border-box; /* Inclut le padding dans la largeur */
  /* font-family: Helvetica, sans-serif; */

  background: linear-gradient(rgba(255, 255, 255, 0), rgb(241, 241, 241));
  z-index: 1000;
  color: black;
  font-family: var(--font-primary);
}

.footer a {
  text-decoration: none;
  color: black;
}
.footer a:hover {
  text-decoration: none;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 220px;
}

.FLIcons {
  display: flex;
  gap: 24px;
}

.footer i {
  font-size: 24px;
}

.footerMiddle {
}

.footerRight {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 220px;
}

.footerRightContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
}

.text {
  text-decoration: none;
  height: 16px;
  overflow: hidden;
}

.text:hover .letter,
.text.play .letter {
  transform: translateY(-100%);
}

.text .letter {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.075, 0, 0.225, 1);
}

.letter:nth-last-child(1) {
  transition-delay: 0s;
}

.letter:nth-last-child(2) {
  transition-delay: 0.03s;
}

.letter:nth-last-child(3) {
  transition-delay: 0.06s;
}

.letter:nth-last-child(4) {
  transition-delay: 0.09s;
}

.letter:nth-last-child(5) {
  transition-delay: 0.12s;
}

.letter:nth-last-child(6) {
  transition-delay: 0.15s;
}

.letter:nth-last-child(7) {
  transition-delay: 0.18s;
}

.letter:nth-last-child(8) {
  transition-delay: 0.21s;
}

.letter:nth-last-child(9) {
  transition-delay: 0.24s;
}

.letter:nth-last-child(10) {
  transition-delay: 0.27s;
}

.letter:nth-last-child(11) {
  transition-delay: 0.30s;
}

.letter:nth-last-child(12) {
  transition-delay: 0.33s;
}

.letter:nth-last-child(13) {
  transition-delay: 0.36s;
}

.letter:nth-last-child(14) {
  transition-delay: 0.39s;
}

.contactTitle::first-letter {
  font-family: var(--font-third);
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 2px;
}

.footerRightContainer p {
  transition: opacity 0.2s ease; /* transition pour un effet fluide */
}

.footerRightContainer:hover p {
  opacity: 0.5; /* réduction de l'opacité par défaut au survol du conteneur */
}

.footerRightContainer p:hover{
  opacity: 1; /* l'élément survolé reste complètement visible */
  cursor: pointer;
}


/******   END FOOTER   ********************************************/
